@use "../../styles/base.module.scss";

.songBox {
  @include base.halfSecondEase;
  background-color: base.$secondary-color;
  position: relative;
}

.albumArt {
  @include base.halfSecondEase;
  width: 100%;
  width: auto;
  height: auto;
}

.songCaption {
  @include base.halfSecondEase;
  padding-left: 10px;
  height: 45px;
  transition: all 0.5s ease;
  color: white;
  font-size: 14px;
}

.songTitle {
  position: relative;
  top: 10px;
}

.playButton {
  @include base.halfSecondEase;
  position: absolute;
  left: 50%;
  top: 50%;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.playIcon {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 60px;
  z-index: 10;
}

.playIcon:hover {
  cursor: pointer;
}

.loadingIcon {
  @extend .playIcon;
  top: -27px;
  left: -30px;
}

.slider {
  padding: 0;
}

.sliderContainer {
  @include base.halfSecondEase;
  padding: 0 10px;
}

.timeDisplay {
  @include base.halfSecondEase;
  height: 10px;
  padding: 0 10px;
}
