@use "../../styles/base.module.scss";

.footerLink {
  margin-right: base.$spacing * 1.5;
  font-size: 1.25rem;
  display: inline-block;
  position: relative;
}

.footerLink:after {
  @include base.underline;
}

.footerLink:hover:after {
  @include base.underlineHover;
}

.bullet {
  margin-right: base.$spacing * 1.5;
}

.footer {
  padding: base.$spacing * 2;
  border-top: 1px solid black;
  margin-top: base.$spacing * 2;
}

.fixedFooter {
  @extend .footer;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: base.$max-width;
}

@media all and (max-width: 510px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .footerLink {
    margin-right: base.$spacing;
    font-size: 1rem;
  }
}
