@use "./base.module.scss";

.imageContainer {
  margin: 0 auto;
  max-height: 806px;
  max-width: 604px;
  height: 806px;
  width: 604px;
  position: relative;
}

.profileImage {
  mask-image: linear-gradient(to bottom, #fff 40%, rgba(255, 255, 255, 0));
  object-fit: contain;
}

.subHeading {
  padding-bottom: 2rem;
  min-height: 80px;
}

.introText {
  padding-top: 2rem;
}
